<div class="modal-header sidebar-brand d-flex justify-content-between" style="background-color: var(--color-primary);">
  <h4 class="modal-title" id="modal-basic-title" style="color: var(--color-secondary);">Upload a new video</h4>
</div>

<div class="modal-body" style="background-color: var(--color-primary);">
  <form [formGroup]="newVideoForm">
    <div class="form-group">
      <label for="title" style="color: var(--color-secondary);">Title</label>
      <input type="text" class="form-control modal-input" id="title" formControlName="title">
      <div *ngIf="newVideoForm.get('title')?.invalid && newVideoForm.get('title')?.touched" class="text-danger modal-error" style="color: white;">
        <span *ngIf="newVideoForm.get('title')?.errors?.['required']" style="color: white;">Title is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="thumbnailUrl" style="color: var(--color-secondary);">Thumbnail URL</label>
      <input type="text" class="form-control modal-input" id="thumbnailUrl" formControlName="thumbnailUrl">
      <div *ngIf="newVideoForm.get('thumbnailUrl')?.invalid && newVideoForm.get('thumbnailUrl')?.touched" class="text-danger modal-error">
        <span *ngIf="newVideoForm.get('videoUrl')?.errors?.['invalidUrl']" style="color: white;">Invalid URL</span>
        <span *ngIf="newVideoForm.get('videoUrl')?.errors?.['required']" style="color: white;">Video URL is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="videoUrl" style="color: var(--color-secondary);">Video URL</label>
      <input type="text" class="form-control modal-input" id="videoUrl" formControlName="videoUrl">
      <div *ngIf="newVideoForm.get('videoUrl')?.invalid && newVideoForm.get('videoUrl')?.touched" class="text-danger modal-error">
        <span *ngIf="newVideoForm.get('videoUrl')?.errors?.['invalidUrl']" style="color: white;">Invalid URL</span>
        <span *ngIf="newVideoForm.get('videoUrl')?.errors?.['required']" style="color: white;">Video URL is required</span>
      </div>
    </div>
  </form>
  <div class="modal-button-container" style="background-color: var(--color-primary);">
    <button type="button" class="btn btn-outline-light" (click)="createVideo()" [disabled]="newVideoForm.invalid">Create</button>
    <button type="button" class="btn btn-outline-light" (click)="modalService.dismissAll()">Cancel</button>
  </div>
</div>
