.modal-title {
  color: var(--color-secondary);
}

.modal-input {
  background-color: white;
  color: var(--color-primary);
}

.modal-error {
  color: var(--color-secondary);
}

.modal-error {
  color: white;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.modal-button-container .btn {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
