:root {
  --color-primary: #A276FF;
  --color-secondary: #FFF;
  --color-error: #FF5E5E;
}

body {
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
