.card {
  height: 100%;
  border-radius: 1rem;
}
.card-thumbnail {
  width: 100%;
  padding-top: 56.25%; /* Aspect ratio: 16:9 */
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  opacity: 0.9;
}

.card-thumbnail:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}
