<app-navbar/>
<div class="container mt-5">
  <h3 class="mb-4">Unlock the power of efficient learning with our interactive bot!</h3>
  <p class="lead mb-4">Dive into a curated selection of top educational videos tailored just for you. Explore diverse topics and gain valuable insights at your own pace. Interact with our bot to seamlessly summarize any video from our carefully chosen collection. Optimize your learning journey today with <strong>WebWise</strong>, where knowledge meets convenience.</p>

  <router-outlet></router-outlet>
</div>
