<app-navbar/>

<div class="container mt-5">
  <div class="container">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" (input)="search($event)">
    </div>
    <div class="row">
      <div class="col-4 mb-4" *ngFor="let video of filteredVideos">
        <div class="card" (click)="navigateToVideoSession(video)">
          <img [src]="video.thumbnailUrl" class="card-img-top" alt="Video Thumbnail">
          <div class="card-body">
            <h5 class="card-title">{{ video.title }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

 <router-outlet/>
</div>
